@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;
}

.container-mobile {
  width: 100%;
  max-width: 1280px;
  padding: 0 32px;
  margin: 0 auto;
}

#home .menu-desktop .container .contact-desktop .contact-button {
  border: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #c76502;
  border: 2px solid #c76502;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.4s ease;
  background-color: transparent;
}

#home .menu-desktop .container .contact-desktop .contact-button:hover {
  color: #fff;
  transform: scale(0.95);
  background-color: #c76502;
}

.profile .container .profile-info .social-media .social, .contact .container .contact-wrapper .overlay .contact-body .social-media .social-media-actions .social {
  margin: 35px 0;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #c76502;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: inset 0px 5px 15px 6px rgba(0, 0, 0, 0.4);
  transition: transform 800ms ease;
}

.profile .container .profile-info .social-media .social:hover, .contact .container .contact-wrapper .overlay .contact-body .social-media .social-media-actions .social:hover {
  transform: scale(1.2);
}

#home {
  width: 100%;
  background-color: #2a2a2a;
}

#home .menu-desktop {
  border-bottom: 4px solid #c76502;
}

#home .menu-desktop .container {
  height: 11vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#home .menu-desktop .container .logo-desktop {
  width: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

#home .menu-desktop .container .navbar-desktop {
  list-style: none;
  padding: 0 10px;
}

#home .menu-desktop .container .navbar-desktop li {
  display: inline-block;
  padding: 10px 0;
}

#home .menu-desktop .container .navbar-desktop li a {
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #c76502;
  padding: 30px 15px;
  transition: all 0.4s ease;
  border: 0;
}

#home .menu-desktop .container .navbar-desktop li a:hover {
  background-color: #c76502;
  color: #fff;
}

.menu-mobile {
  display: none;
  height: 11vh;
  border-bottom: 4px solid #c76502;
}

.menu-mobile .logo-desktop {
  width: 85px;
  padding: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 0;
  margin-left: auto;
}

.menu-wrap {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: #c76502;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and Bottom Lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 50%;
  border: 4px solid #c76502;
  width: 80vh;
  height: 80vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  box-shadow: 3px 12px 12px -2px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 3px 12px 12px -2px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 3px 12px 12px -2px rgba(0, 0, 0, 0.28);
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vh;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #c76502;
  font-size: 1.8rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.profile {
  width: 100%;
  background-color: #1a1a1a;
}

.profile .container {
  height: 89vh;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.profile .container .profile-image {
  margin: 0 20px;
  border-radius: 50%;
  border: 4px solid #c76502;
}

.profile .container .profile-image .image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: url("../images/profile.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.65;
}

.profile .container .profile-info {
  text-align: right;
  margin: 0 20px;
}

.profile .container .profile-info h4 {
  color: #fff;
  font-weight: 200;
  font-size: 1.4rem;
  padding: 30px 0;
}

.profile .container .profile-info h2 {
  color: #c76502;
  font-weight: 700;
  font-size: 3.4rem;
}

.profile .container .profile-info .social-media {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.profile .container .profile-info .social-media .social i {
  color: #fff;
  font-size: 2rem;
}

.profile .container .profile-info .social-media .social:nth-of-type(2) {
  margin: 0 30px;
}

.about {
  padding: 50px 0;
  background-color: #1a1a1a;
}

.about .about-wrapper {
  height: 340px;
  border: 2px solid #c76502;
  background-image: url("../../images/computer2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.about .about-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 336px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.about .about-wrapper .overlay .about-title {
  font-weight: 200;
  font-size: 3.5rem;
  color: #fff;
  padding: 70px;
  text-align: left;
  border-right: 2px solid #c76502;
}

.about .about-wrapper .overlay .about-title span {
  font-weight: 700;
  font-size: 4rem;
  color: #c76502;
}

.about .about-wrapper .overlay .about-body {
  padding: 50px;
  font-weight: 400;
  color: #fff;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 2;
}

.about .about-wrapper .overlay .about-body span {
  font-weight: 700;
  font-size: 1.6rem;
  color: #c76502;
}

.portfolio {
  padding: 50px 0;
  background-color: #1a1a1a;
}

.portfolio .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio .container .portfolio-title {
  width: 380px;
  flex-direction: column;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
}

.portfolio .container .portfolio-title p {
  width: 100%;
  font-size: 2.6rem;
  font-weight: 200;
  color: #fff;
}

.portfolio .container .portfolio-title span {
  font-size: 4rem;
  font-weight: 700;
  color: #c76502;
}

.portfolio .container .portfolio-body {
  width: 100%;
  max-width: 800px;
  height: 730px;
  border: 2px solid #c76502;
  background-image: url("../../images/computer1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.portfolio .container .portfolio-body .overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(730px - 4px);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.portfolio .container .portfolio-body .overlay .swiper-container {
  width: 100%;
  height: 100%;
  display: none;
}

.portfolio .container .portfolio-body .overlay .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  position: relative;
  top: -15px;
}

.portfolio .container .portfolio-body .overlay .swiper-pagination-bullet-active {
  background-color: #c76502;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single {
  width: 100%;
  max-width: 362.5px;
  height: 286px;
  margin: 10px;
  padding: 15px;
  border-radius: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.4rem;
  padding-bottom: 15px;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single p {
  text-align: justify;
  font-weight: 200;
  height: 125px;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single .tech-info {
  padding: 8px 0 10px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single .tech-info .tech-info-single {
  padding: 5px 10px;
  border-radius: 15px;
  margin: 0 2px;
  background-color: #1a1a1a;
  font-weight: 200;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single .cta-buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single .cta-buttons .cta-button-single {
  padding: 8px 12px;
  border-radius: 15px;
  border: 0;
  outline: 0;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid #c76502;
  background-color: #c76502;
  transition: 0.4s ease;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single .cta-buttons .cta-button-single:hover {
  transform: scale(1.1);
  background-color: #b35e0a;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single .cta-buttons .cta-button-single:nth-of-type(2) {
  border: 1px solid #c76502;
  background-color: transparent;
  color: #c76502;
}

.portfolio .container .portfolio-body .portfolio-boxes-wrapper .portfolio-box-single .cta-buttons .cta-button-single:nth-of-type(2):hover {
  border: 1px solid #c76502;
  background-color: #c76502;
  color: #fff;
}

.skills {
  padding: 50px 0;
  background-color: #1a1a1a;
}

.skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills .container .skills-title {
  width: 380px;
  flex-direction: column;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
}

.skills .container .skills-title p {
  width: 100%;
  font-size: 2.6rem;
  font-weight: 200;
  color: #fff;
}

.skills .container .skills-title span {
  font-size: 3.2rem;
  font-weight: 700;
  color: #c76502;
}

.skills .container .skills-body {
  width: 100%;
  max-width: 800px;
  border: 2px solid #c76502;
  background-color: #2a2a2a;
  position: relative;
}

.skills .container .skills-body .swiper-container2 {
  width: 100%;
  height: 100%;
  display: none;
}

.skills .container .skills-body .swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  position: relative;
}

.skills .container .skills-body .swiper-pagination-bullet-active {
  background-color: #c76502;
}

.skills .container .skills-body .skills-boxes-wrapper {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills .container .skills-body .skills-boxes-wrapper .skills-box-single {
  width: 100%;
  max-width: 200px;
  height: 200px;
  color: #fff;
  margin: 20px;
  padding: 15px;
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills .container .skills-body .skills-boxes-wrapper .skills-box-single img {
  width: 100%;
  max-width: 90px;
  padding-bottom: 20px;
}

.skills .container .skills-body .skills-boxes-wrapper .skills-box-single h3 {
  font-size: 1.4rem;
  font-weight: 200;
}

.contact {
  padding: 50px 0 100px 0;
  background-color: #1a1a1a;
}

.contact .container .contact-wrapper {
  height: 250px;
  border: 2px solid #c76502;
  background-image: url("../../images/computer2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.contact .container .contact-wrapper .overlay {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 246px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.contact .container .contact-wrapper .overlay .contact-title {
  font-weight: 200;
  font-size: 1.8rem;
  color: #fff;
  padding: 50px;
  text-align: left;
  border-right: 2px solid #c76502;
}

.contact .container .contact-wrapper .overlay .contact-title span {
  display: block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 2.4rem;
  color: #c76502;
}

.contact .container .contact-wrapper .overlay .contact-body {
  width: 100%;
  padding: 0 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.contact .container .contact-wrapper .overlay .contact-body .email {
  width: 100%;
  text-align: center;
}

.contact .container .contact-wrapper .overlay .contact-body .email h3 {
  font-weight: 200;
  color: #fff;
  padding-bottom: 25px;
}

.contact .container .contact-wrapper .overlay .contact-body .email i {
  font-size: 1.2rem;
  color: #c76502;
  margin-right: 8px;
}

.contact .container .contact-wrapper .overlay .contact-body .email a {
  text-decoration: none;
  font-weight: 700;
  color: #c76502;
  margin-top: 30px;
  font-size: 1.2rem;
}

.contact .container .contact-wrapper .overlay .contact-body .social-media {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.contact .container .contact-wrapper .overlay .contact-body .social-media h3 {
  flex-wrap: nowrap;
  font-weight: 200;
  color: #fff;
}

.contact .container .contact-wrapper .overlay .contact-body .social-media .social-media-actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact .container .contact-wrapper .overlay .contact-body .social-media .social-media-actions .social i {
  color: #fff;
  font-size: 2rem;
}

.contact .container .contact-wrapper .overlay .contact-body .social-media .social-media-actions .social:nth-of-type(2) {
  margin: 0 30px;
}

footer {
  background-color: #2a2a2a;
  padding: 30px 0;
  color: #c76502;
  border-top: 2px solid #c76502;
  font-size: 1.2rem;
}

footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer .container p {
  text-align: center;
  padding: 0 20px;
}

@media screen and (max-width: 1280px) {
  .portfolio .container .portfolio-title {
    text-align: center;
  }
  .skills .container .skills-title {
    text-align: center;
  }
  .contact .container .contact-wrapper {
    height: 305px;
  }
  .contact .container .contact-wrapper .overlay {
    height: 301px;
    flex-wrap: wrap;
  }
  .contact .container .contact-wrapper .overlay .contact-title {
    width: 100%;
    padding: 20px 0 0 0;
    text-align: center;
    border: 0;
  }
  .contact .container .contact-wrapper .overlay .contact-body {
    padding: 20px;
    height: auto;
  }
  .contact .container .contact-wrapper .overlay .contact-body .email,
  .contact .container .contact-wrapper .overlay .contact-body .social-media {
    width: 50%;
    padding: 0;
  }
  .contact .container .contact-wrapper .overlay .contact-body .email {
    text-align: center;
  }
  .contact .container .contact-wrapper .overlay .contact-body .social-media h3 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 963px) {
  .about .container .about-wrapper {
    height: 370px;
  }
  .about .container .about-wrapper .overlay {
    flex-direction: column;
    height: 366px;
  }
  .about .container .about-wrapper .overlay .about-title {
    font-size: 2.3rem;
    padding: 10px;
    border: 0;
    border-bottom: 2px solid #c76502;
  }
  .about .container .about-wrapper .overlay .about-title span {
    font-size: 2.8rem;
  }
  .about .container .about-wrapper .overlay .about-body {
    padding: 10px 4%;
    font-size: 1rem;
  }
  .about .container .about-wrapper .overlay .about-body span {
    font-size: 1.3rem;
  }
  .portfolio .container .portfolio-title p {
    font-size: 2.5rem;
  }
  .portfolio .container .portfolio-title span {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 876px) {
  #home .menu-desktop {
    display: none;
  }
  #home .menu-mobile {
    display: block;
  }
  #home .menu-mobile .logo-desktop {
    padding: 8px;
  }
  .profile .container .profile-image .image {
    width: 300px;
    height: 300px;
  }
  .profile .container .profile-info h4 {
    font-size: 1.2rem;
  }
  .profile .container .profile-info h2 {
    font-size: 2.7rem;
  }
  .contact .container .contact-wrapper {
    height: 400px;
  }
  .contact .container .contact-wrapper .overlay {
    height: 396px;
  }
  .contact .container .contact-wrapper .overlay .contact-body {
    flex-direction: column;
  }
  .contact .container .contact-wrapper .overlay .contact-body .email {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-bottom: 30px;
  }
  .contact .container .contact-wrapper .overlay .contact-body .email i {
    display: none;
  }
}

@media screen and (max-width: 869px) {
  .portfolio .container .portfolio-body {
    height: 1350px;
  }
  .portfolio .container .portfolio-body .overlay {
    height: calc(1350px - 4px);
  }
  footer .container {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #home .menu-desktop .container .logo-desktop {
    width: 70px;
  }
  #home .menu-desktop .container .navbar-desktop {
    padding: 0;
  }
  #home .menu-desktop .container .navbar-desktop li a {
    padding: 30px 10px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 710px) {
  .profile .container .profile-info {
    text-align: center;
  }
  .profile .container .profile-info h4 {
    font-size: 1.2rem;
  }
  .profile .container .profile-info h2 {
    font-size: 2.7rem;
  }
  .profile .container .profile-info .social-media {
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .portfolio .container .portfolio-title p {
    font-size: 2rem;
  }
  .portfolio .container .portfolio-title span {
    font-size: 3.2rem;
  }
  .skills .container p {
    font-size: 2rem;
  }
  .skills .container span {
    font-size: 3.2rem;
  }
  .about {
    padding: 50px 0;
  }
  .about .container .about-wrapper .overlay .about-title {
    text-align: center;
    font-size: 2rem;
    border: 0;
  }
  .about .container .about-wrapper .overlay .about-title span {
    font-size: 2.5rem;
  }
  .about .container .about-wrapper .overlay .about-body {
    font-size: 0.8rem;
  }
  .about .container .about-wrapper .overlay .about-body span {
    font-size: 1rem;
  }
  .contact .container .contact-wrapper {
    height: 425px;
  }
  .contact .container .contact-wrapper .overlay {
    height: 421px;
  }
  .contact .container .contact-wrapper .overlay .contact-body .email a {
    font-size: 1rem;
  }
  footer .container {
    justify-content: center;
  }
  footer .container p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .contact .container .contact-wrapper .overlay .contact-body .email h3 {
    font-size: 1rem;
  }
  .contact .container .contact-wrapper .overlay .contact-body .email a {
    font-size: 0.8rem;
  }
}
