@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/*** Div's Gerais ***/

.clear {
    clear:both;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

/*** Header ***/

header{
    width: 100%;
    background: rgb(35,7,77);
    background: linear-gradient(90deg, rgba(35,7,77,1) 0%, rgba(66,134,244,1) 100%); 
}

.menu-desktop img {
    width: 100px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
}

.menu-desktop {
    width: 100%;
    padding: 5px 80px;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: rgb(35,7,77);
    background: linear-gradient(90deg, rgba(35,7,77,1) 0%, rgba(66,134,244,1) 100%); 
    background-size: 100%;
    transition: top 0.3s;
    z-index: 999;
    font-weight: 300;
    border-bottom: 3px solid #4286f4;
}

.menu-desktop nav ul {
    list-style-type: none;
}

.menu-desktop nav ul li {
    display: inline-block;
}

.menu-desktop nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 37.5px 15px;
    margin-left: 35px;
    transition: 0.5s;
}

.menu-desktop li a:hover {
    background-color: rgba(35,7,77,1);
}

.menu-mobile {
    display: none;
}

.menu-mobile-nav {
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -ms-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background: rgb(35,7,77);
    background: linear-gradient(180deg, rgba(35,7,77,1) 0%, rgba(66,134,244,1) 100%);
    color: white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 300;
    height: 100vh;
    left: -20rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    width: 20rem;
    z-index: 1;
    box-shadow: 3px -1px 11px 2px rgba(0,0,0,0.16);
    -webkit-box-shadow: 3px -1px 11px 2px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px -1px 11px 2px rgba(0,0,0,0.16);
    border-right: 3px solid white;
}
  
.menu-mobile-nav.expanded { left: 0; }
  
.menu-mobile-nav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-mobile-nav ul li {
    list-style-type: none;
    margin: 20px;
}

.menu-mobile-nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.menu-mobile {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 2rem;
    left: 1rem;
    position: fixed;
    top: 2rem;
    width: 3rem;
    z-index: 2;
}
  
.menu-mobile .menu-mobile-nav-toggle-bar,  
.menu-mobile .menu-mobile-nav-toggle-bar::after,  
.menu-mobile .menu-mobile-nav-toggle-bar::before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #4286f4;
    content: '';
    height: 0.4rem;
    width: 100%;
    border-radius: 3px;
}
  
.menu-mobile .menu-mobile-nav-toggle-bar { margin-top: 0; }
  
.menu-mobile .menu-mobile-nav-toggle-bar::after { margin-top: 0.8rem; }
  
.menu-mobile .menu-mobile-nav-toggle-bar::before { margin-top: -0.8rem; }
  
.menu-mobile.expanded .menu-mobile-nav-toggle-bar { background: transparent; }
  
.menu-mobile.expanded .menu-mobile-nav-toggle-bar::after, 
.menu-mobile.expanded .menu-mobile-nav-toggle-bar::before {
    background: white;
    margin-top: 0;
}
  
.menu-mobile.expanded .menu-mobile-nav-toggle-bar::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
.menu-mobile.expanded .menu-mobile-nav-toggle-bar::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*** Section Profile ***/

.profile-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 200px 0 150px 0;
    background-image: url('../images/computer1.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}

.profile-image {
    width: 100%;
    max-width: 300px;
    height: 300px;
    margin:0 auto;
    border-radius: 50%;
    border: 8px solid rgba(255,255,255,1); 
    background-image: url('../images/profile.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.social-media {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.social-media a {
    text-decoration: none;
    color: white;
}

.social {
    margin: 35px 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: rgba(0,0,0,0.6);
    display:flex;
    justify-content: center;
    align-items: center;
    transition: transform 800ms ease;
}

.b1:hover, .b3:hover {
    background-color: #23074d;
    transform: scale(1.2);
}

.b2:hover {
    background-color: #4286f4;
    transform: scale(1.2);
}

.social-media a i {
    font-size: 30px;
    
}

.profile-wrapper h1 {
    width: 100%;
    font-family: 'Ge Body';
    font-size: 70px;
    letter-spacing: 5px;
    color: #4286f4;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.23);
    padding: 0 2%;
}

.profile-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.profile-title h3 {
    margin: 15px 10px;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
}

/*** Section Sobre ***/

section.sobre {
    width: 100%;
    background-color: #e7e7e7;
}

.sobre .container {
    padding: 60px 20px;
}

.sobre-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    width: 800px;
    height: 10px;
    margin: 0 2%;
    border-radius: 8px;
}

.line:nth-of-type(1) {
    background: rgb(35,7,77);
    background: linear-gradient(90deg, rgba(35,7,77,1) 0%, rgba(66,134,244,1) 100%);
    padding: 0 2%;
}

.line:nth-of-type(2) {
    background: rgb(35,7,77);
    background: linear-gradient(270deg, rgba(35,7,77,1) 0%, rgba(66,134,244,1) 100%);
    padding: 0 2%;
}

.sobre-title h4 {
    padding: 0 15px;
    font-size: 25px;
    color: rgba(0,0,0,0.7);
}

.sobre-texto {
    margin: 20px 2%;
    text-align: center;
}

.sobre-texto-bio {
    margin-top: 25px;
}

.sobre-texto-bio p {
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: rgba(0,0,0,0.7);
    line-height: 35px;
}

.sobre-texto-bio h3 {
    margin-top: 40px;
    color: #4286f4;
    font-weight: bold;
    font-size: 21px;
}

.sobre-texto-bio span {
    font-weight: bold;
    color: #4286f4;
    font-size: 23px;
}

/*** Section Portfolio ***/

.bg2 {
    width: 100%;
    padding: 0 2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    background-image: url('../images/computer2.png');
    position: relative;
}

.portfolio-wrapper {
    margin: 0 auto;
    text-align: center;
}

.portfolio-title {
    padding: 100px 0 80px 0;
}

.portfolio-title h4 {
    font-size: 35px;
    color: white;
}

.portfolio-box {
    padding-bottom: 100px;
}

.portfolio-single {
    width: 100%;
    padding: 25px 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.portfolio-single:nth-of-type(2n) {
    flex-direction: row-reverse;
}


.portfolio-image {
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 38% 62% 41% 59% / 55% 38% 62% 45% ;
    border: 8px solid white;
    cursor: pointer;
    transition: transform 800ms ease;
}

.portfolio-image:hover {
    transform: scale(1.1);
}

#project1 {
    background-image: url('../images/projeto1.png');
}

#project2 {
    background-image: url('../images/projeto2.png');
}

#project3 {
    background-image: url('../images/projeto3.png');
}

.portfolio-text {
    width: 600px;
    text-align: center;
    padding: 10px 5%;
}

.portfolio-single p {
    padding: 20px 0;
    font-size: 27px;
    font-weight: bold;
    color: white;
}

.portfolio-single span {
    font-size: 18px;
    color: white;
}

/*** Section Contato ***/

section.contato {
    width: 100%;
    background-color: #e7e7e7;
}

section.contato .container {
    padding: 20px;
}

.contato-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contato-header h4 {
    padding: 0 15px;
    font-size: 25px;
    text-align: center;
    color: rgba(0,0,0,0.7);
}

.contato-wrapper {
    width: 100%;
    margin: 20px 0;
    padding: 0 2%;
}

.contato-wrapper-trad {
    float:left;
}

.contato-wrapper-trad h5 {
    font-size: 18px;
    padding: 10px;
    color: rgba(0,0,0,0.7);
}

.contato-wrapper-trad h5 a {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}

.contato-social-media {
    float: right;
}

.contato-social-media .social-media .social {
    margin: 12.5px 20px;
}

/*** Footer ***/

footer {
    color:white;
    background: rgb(35,7,77);
    background: linear-gradient(90deg, rgba(35,7,77,1) 0%, rgba(66,134,244,1) 100%);
}

footer p {
    padding: 25px;
}

footer p:nth-of-type(1) {
    float:left;
}

footer p:nth-of-type(2) {
    float:right;
}

footer p i {
    font-size: 20px;
}

/*** Shape Divider ***/

.custom-shape-divider-top-1614557376 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1614557376 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.custom-shape-divider-top-1614557376 .shape-fill {
    fill: #e7e7e7;
}

.custom-shape-divider-bottom-1614556815 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1614556815 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.custom-shape-divider-bottom-1614556815 .shape-fill {
    fill: #e7e7e7;
}

/*** Media Queries **/

@media screen and (min-width: 1920px) {
    .menu-desktop {
        padding: 5px 16%;
    }
}

@media screen and (min-width:1441px) and (max-width: 1919px) {
    .menu-desktop {
        padding: 5px 15%;
    }
}

@media screen and (max-width:1440px) {
    .menu-desktop {
        padding: 5px 80px;
    }
}

@media screen and (max-width:934px) {
    body {
        overflow-x:hidden;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .profile-wrapper {
        padding: 120px 0 120px 0;
    }

    .sobre-texto {
        padding: 0 50px;
    }
}

@media screen and (max-width: 768px) {
    .profile-title {
        flex-wrap: wrap;
    }

    .portfolio-box {
        flex-wrap: wrap;
    }
    
    .portfolio {
        width: 100%;
    }

    .portfolio p {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 740px) {
    .contato-wrapper-trad {
        float:none;
    }

    .contato-wrapper-trad h5 {
        text-align: center;
    }
    
    
    .contato-social-media {
        float: none;
    }
}

@media screen and (max-width: 580px) {
    footer p {
        text-align: center;
    }
    
    footer p:nth-of-type(1) {
        float:none;
    }
    
    footer p:nth-of-type(2) {
        float:none;
    }
}

@media screen and (max-width: 340px) {
    .contato-wrapper {
        padding: 0;
    }

    .contato-wrapper-trad h5 {
        padding: 10px 0;
    }
}

@media screen and (max-height: 360px) {
    .menu-mobile-nav ul li {
        text-align: center;
    }

    .menu-mobile-nav ul li:nth-of-type(1) {
        margin-top: 100px;
    }
}