%action-buttons {
    border: 0;
    font-size: 1.4rem;
    text-align: center;
    color: $default-blue;
    border: 2px solid $default-blue;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    @include setBackgroundColor(transparent);
}
