@media screen and (max-width: 1280px) {
    .portfolio {
        .container {
            .portfolio-title {
                text-align: center;
            }
        }
    }

    .skills {
        .container {
            .skills-title {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 963px) {
    .about {
        .container {
            .about-wrapper {
                height: 370px;

                .overlay {
                    flex-direction: column;
                    height: 370px - 4px;

                    .about-title {
                        font-size: 2.3rem;
                        padding: 10px;
                        border: 0;
                        border-bottom: 2px solid $default-color;

                        span {
                            font-size: 2.8rem;
                        }
                    }

                    .about-body {
                        padding: 10px 4%;
                        font-size: 1rem;

                        span {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    .portfolio {
        .container {
            .portfolio-title {
                p {
                    font-size: 2.5rem;
                }

                span {
                    font-size: 3.4rem;
                }
            }
        }
    }
}

@media screen and (max-width: 876px) {
    #home {
        .menu-desktop {
            display: none;
        }

        .menu-mobile {
            display: block;

            .logo-desktop {
                padding: 8px;
            }
        }
    }

    .profile {
        .container {
            .profile-image {
                .image {
                    width: 300px;
                    height: 300px;
                }
            }

            .profile-info {
                h4 {
                    font-size: 1.2rem;
                }

                h2 {
                    font-size: 2.7rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #home {
        .menu-desktop {
            .container {
                .logo-desktop {
                    width: 70px;
                }

                .navbar-desktop {
                    padding: 0;

                    li {
                        a {
                            padding: 30px 10px;
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }

    .portfolio {
        .container {
            .portfolio-body {
                height: 1350px;

                .overlay {
                    height: calc(1350px - 4px);
                }
            }
        }
    }
}

@media screen and (max-width: 710px) {
    .profile {
        .container {
            .profile-info {
                text-align: center;

                h4 {
                    font-size: 1.2rem;
                }

                h2 {
                    font-size: 2.7rem;
                }

                .social-media {
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .about {
        padding: 50px 0;

        .container {
            .about-wrapper {
                .overlay {
                    .about-title {
                        text-align: center;
                        font-size: 2rem;
                        border: 0;

                        span {
                            font-size: 2.5rem;
                        }
                    }

                    .about-body {
                        font-size: 0.8rem;

                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
