.contact {
    padding: 50px 0 100px 0;
    @include setBackgroundColor($default-gray-dark);

    .container {
        .contact-wrapper {
            height: 250px;
            border: 2px solid $default-color;
            background-color: $default-gray-light;
            position: relative;

            .overlay {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                height: 250px - 4px;
                background-color: rgba(0, 0, 0, 0);
                @include setDisplay(flex, nowrap, center, center);

                .contact-title {
                    font-weight: 200;
                    font-size: 1.8rem;
                    color: $default-white;
                    padding: 50px;
                    text-align: left;
                    border-right: 2px solid $default-color;

                    span {
                        display: block;
                        margin-top: 10px;
                        font-weight: 700;
                        font-size: 2.4rem;
                        color: $default-color;
                    }
                }

                .contact-body {
                    width: 100%;
                    padding: 0 50px;
                    @include setDisplay(flex, nowrap, center, center);

                    .email {
                        width: 100%;
                        text-align: center;

                        h3 {
                            font-weight: 200;
                            color: $default-white;
                            padding-bottom: 25px;
                        }

                        i {
                            font-size: 1.2rem;
                            color: $default-color;
                            margin-right: 8px;
                        }

                        a {
                            text-decoration: none;
                            font-weight: 700;
                            color: $default-color;
                            margin-top: 30px;
                            font-size: 1.2rem;
                        }
                    }

                    .social-media {
                        width: 100%;
                        @include setDisplay(flex, wrap, center, center);
                        padding: 50px;

                        h3 {
                            flex-wrap: nowrap;
                            font-weight: 200;
                            color: $default-white;
                        }

                        .social-media-actions {
                            @include setDisplay(flex, nowrap, center, center);
                            flex-direction: row;
                            .social {
                                @extend %social-buttons;

                                i {
                                    color: $default-white;
                                    font-size: 2rem;
                                }
                            }

                            .social:nth-of-type(2) {
                                margin: 0 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
