%action-buttons {
    border: 0;
    font-size: 1.2rem;
    text-align: center;
    color: $default-color;
    border: 2px solid $default-color;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
    @include setBackgroundColor(transparent);
}

%action-buttons:hover {
    color: $default-white;
    transform: scale(0.95);
    @include setBackgroundColor($default-color);
}

%social-buttons {
    margin: 35px 0;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: $default-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    -webkit-box-shadow: inset 0px 5px 15px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 5px 15px 6px rgba(0, 0, 0, 0.4);
    transition: transform 800ms ease;
}

%social-buttons:hover {
    transform: scale(1.2);
}
